<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
      <h1 class='site-title'><a href="/">Facespace</a></h1>
        <% if(currentUser.name === undefined){ %>
          <form method="get" action="/signin">
            <button class="signin-button" type="submit">Sign in</button>
        </form>
        <% } else { %>
        <p><%- `Hello ${currentUser.name}!` %></p>
        <% } %>
        
      
      
  </header>